.Person {

  width: 60%;
  margin: auto;
  padding: 10vh;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  text-align: center;


  p.name:active,
  p.name:hover {
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
  }

}